---
import type { CV } from "@types";
import Section from "../Section.astro";

interface Props extends Pick<CV, "basics"> {
	className?: string;
	title: string;
}

const { basics, title } = Astro.props;
const { summary } = basics;
---

<Section title={title}>
	<p>
		{summary}
	</p>
</Section>
